@model IEnumerable<Ejemplo.Models.Ca_AccionesProcesales>

@{
    ViewBag.Title = "ListaAcciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <div class="container">
            <div class="link2"><span style="font-weight:bold; font-size:1.5em;">Catalogo de Acciones</span><a href="/Acciones/NuevaAccionProcesal" class="ajax_nueva_accion">
                        <img src="../../Content/Table/Mas.png" width="20px" height ="20px" class="ImgNuevo" title="Nueva Accion"
                            alt="Nueva SubEtapa" /></a></div>
       <div class="link2">Filtrar Por Etapa: @Html.DropDownList("Etapas", Ejemplo.Models.Estaticos.ListaEtapas(), "--Selecciona Una--", new {@style = "width:25%" })</div>
    <div class="link2">Filtrar Por SubEtapa: @Html.DropDownList("SubEtapas", Ejemplo.Models.Estaticos.ListaSubEtapas(null), "--Selecciona Una--", new {@style = "width:25%"})</div>
@*       <div class="link2"><input type="submit" id="buscar" name="buscar" class="btn btn-primary btn-margin" value="Buscar"/></div>*@
   </div>

   @*  <div align="right"><a href="/Acciones/PdfAcciones" target="_blank"><img src="~/Images/iconos/pdf.png" width="48px" height="48px"/>Generar PDF</a></div>*@
<div id="tabla">

</div>
@section scripts {
    <link href="~/Content/colorbox/colorbox.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.colorbox-min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#EditarAccionProcesal").live('submit',function (e) {
                e.preventDefault();
            });
            $('#tabla').load('/Acciones/ListaAccionesT');

            $("#Etapas").on('change', function () {
                ajaxJson("/Acciones/ListaSubEtapasList", { Etapas: $(this).val() }, "SubEtapas", 0, callBackLlenarSelect);
                var eta = $("#Etapas").val();

                var url = "/Acciones/ListaAccionesT/?" + "Etapa=" + eta;
                $('#tabla').load(url);
            });
            $("#SubEtapas").on('change', function () {
                var eta = $("#Etapas").val();
                var sube = $("#SubEtapas").val();

                var url = "/Acciones/ListaAccionesT/?" + "Etapa=" + eta +"&SubEtapa=" + sube;
                $('#tabla').load(url);
            });

            $("input#guardar_accion").live('click', function () {
                $.ajax({
                    type: "POST",
                    url: "/Acciones/EditarAccion",
                    data: $("#EditarAccionProcesal").serialize(),
                    success: function (result) {
                        if (result.Exito == false) {
                            alert(result.Message);
                        } else {
                            alert("Se ha actualizado correctamente");
                            actualizar();
                        }
                    }, error: function (result) {
                        //alert("Ocurriò un error");
                    }
                });
            });
            function actualizar() {
                var eta = $("#Etapas").val();
                var sube = $("#SubEtapas").val();

                var url = "/Acciones/ListaAccionesT/?" + "Etapa=" + eta + "&SubEtapa=" + sube;
                $('#tabla').load(url);

            }
             ConstruirTabla();
            $(".ajax").colorbox();
            $(".ajax_nueva_accion").colorbox();
            $('.eliminarAccion').live('click', function (e) {
                e.preventDefault();
                if (confirm("¿Estás seguro de eliminar esta acción D:?")) {
                    var url = $(this).attr('href');
                    $.ajax({
                        type: 'GET',
                        url: url,
                        success: function (data) {
                            if (data.Exito == true) {
                                alert("Acción eliminada con éxito");
                                window.open("/Acciones/ListaAcciones", "_self");
                            }else
                                alert("Error al eliminar la acción");
                        }, error: function (data) {
                            alert("No se puede eliminar la acción");
                        }
                    });
                } else
                    return false;
            });
        });
        $("").live('click', function () {
            $.ajax({
                type: "POST",
                url: "/Acciones/EditarAccion",
                data: $("#EditarAccionProcesal").serialize(),
                success: function (result) {
                    if (result.Exito == false) {
                        alert(result.Message);
                    } else {
                        alert("Se ha actualizado correctamente");
                        window.open('/Acciones/ListaAcciones', '_self');
                    }
                }, error: function (result) {
                    alert("Ocurriò un error");
                }
            });
        });
        function ConstruirTabla() {
            var table;
            var asInitVals = new Array();
                table = $("#tableOne").dataTable({
                "sPaginationType": "full_numbers",
                "iDisplayLength": 5,
                "aLengthMenu": [[5, 10, 15, 20, 25, 50, 100, -1], [5, 10, 15, 20, 25, 50, 100, "Todos"]]
            });
            $("tfoot input").keyup(function () {
                table.fnFilter(this.value, $("tfoot input").index(this));
            });
            $("tfoot input").each(function (i) {
                asInitVals[i] = this.value;
            });
            $("tfoot input").focus(function () {
                if ($("tfoot input").hasClass("search_init")) {
                    this.className = "";
                    this.value = "";
                }
            });
            $("tfoot input").blur(function (i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = asInitVals[$("tfoot input").index(this)];
                }
            });
        }
    </script>        
}