@model IEnumerable<Ejemplo.Models.Ca_AccionesProcesales>

@{
    Layout = null;
}
<link href="../../Content/css/estilo.css" rel="stylesheet" />
<div class="col-lg-7 col-md-6">
    <h2 class="titulo_encabezado_1">Solicitud de</h2><h2 class="titulo_encabezado_2">Acciones Procesales</h2>
</div>
<div class="col-lg-5 col-md-6 fondo_banner">
	<figure class="logo">
		<img src="../../Content/img/volcanes-color.png" />
	</figure>
</div>
<h2>Reporte lista de acciones procesales</h2>
<img src="../../Content/img/volcanes-color.png" />
<table id="tableOne" class="yui" width="100%" style="margin: 1% auto;" >
    <thead class="cabecera_tabla">
        <tr>
            <th>Descripci&oacute;n</th>
            <th>Fecha de actualizaciónnnn</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr id="@item.id_AccionProcesal">
    
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Act)
        </td>
       
    </tr>
    }
    </tbody>
</table>